## Library

In [5]:
import pandas as pd
import numpy as np

## Data Preprocessing

In [9]:
# Load the dirty dataset
dirty_iris = pd.read_csv('dirty_iris.csv')

# Identify missing values
missing_values = dirty_iris.isnull().sum()
print(f'Missing values in each column:\n{missing_values}')

# Impute missing values with the mean
#dirty_iris.fillna(dirty_iris.mean(), inplace=True)
# Impute missing values with the mean for each column individually
for column in ['sepal_length', 'sepal_width']:
    dirty_iris[column].fillna(dirty_iris[column].mean(), inplace=True)

# Correct typos in the class column
#dirty_iris['class'] = dirty_iris['class'].str.replace('Iris', 'Iris-')

# Now the dataset is clean
clean_iris = dirty_iris

Missing values in each column:
sepal_length    10
sepal_width     10
petal_length     0
petal_width      0
class            0
dtype: int64

In [10]:
clean_iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2      Irissetosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3   Irisvirginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]